/* Buttons */
.button__standard {
  @include button($main-accent);
  color: $main-accent;
  &:hover, &:focus { color: $white; } }

.button__white {
  @include button($white);
  color: $white;
  &:hover, &:focus { color: $black; } }

.button__grey {
  @include button($grey-200);
  color: $black-disabled;
  &:hover, &:focus { color: $black-disabled; } }

.button__icon {
  @include icon-font;
  cursor: pointer;
  font-size: 20px; }

/* Nav Buttons */
.nav-button {
  @include nav-button;
  color: $black-secondary;

  &.active {
    color: $main-accent; } }
