body {
  font-family: 'Open Sans', sans-serif;
  background: $grey-100;
  color: $black; }

/* Wrapper */
.wrap {
  max-width: 1440px;
  margin: 0 auto; }

/* Scroll Hijack */
.no-scroll {
  overflow: hidden; }
