body {
  font-family: 'Open Sans', sans-serif;
  background: $grey-100;
  color: $black; }

/* Wrapper */
.wrap {
  max-width: $bp-max;
  margin: 0 auto; }

/* Section */
.section {
  @include section(none); }

.section--white {
  @include section($white); }

.section--grey-100 {
  @include section($grey-100); }

.section--grey-200 {
  @include section($grey-200); }

/* Section Footer */
.section__footer {
  @include section-footer(none); }

.section__footer-cta {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  text-align: center;
  @include breakpoint($bp-laptop-l) {
    text-align: left;
    flex-basis: auto; } }

.section__footer-caption {
  flex-grow: 1;
  flex-basis: 100%;
  margin-top: 24px;
  color: $black-disabled;

  text-align: center;
  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;

  @include breakpoint($bp-laptop-l) {
    margin: 8px 24px;
    text-align: left;
    flex-basis: auto; } }

/* Full Width Images */
.full-width-img {
  @include full-width-img; }

.full-width-img--bg {
  @include full-width-img;
  z-index: -1; }

/* Buttons */
.button__standard {
  @include button($main-accent);
  color: $main-accent;
  &:hover, &:focus { color: $white; } }

.button__white {
  @include button($white);
  color: $white;
  &:hover, &:focus { color: $black; } }

.button__grey {
  @include button($grey-200);
  color: $black-disabled;
  &:hover, &:focus { color: $black-disabled; } }

.button__icon {
  @include icon-font;
  cursor: pointer;
  font-size: 20px; }

/* Nav Buttons */
.nav-button {
  @include nav-button;
  color: $black-secondary; }

.nav-button--active {
  @include nav-button;
  color: $main-accent; }

/* Icons */
.icon-border {
  @include icon-border; }

.icon-fill {
  @include icon-fill; }

.icon-fill--counter {
  @include icon-fill;
  font-family: $main-font;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px; }

.icon-fill--small {
  @include icon-fill;
  height: 16px;
  width: 16px;
  padding: 8px;
  font-size: 16px;
  line-height: 16px; }

/* Block Titles */
.block-title--black {
  @include block-title;
  color: $black-secondary;
  &:after { background: $black-separator; } }

.block-title--white {
  @include block-title;
  color: $white;
  &:after { background: $white-disabled; } }

.block-title--center {
  text-align: center;
  &:after { margin: 0 auto; } }

/* Card Elements */
.card__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 64px 24px;

  @include breakpoint($bp-laptop) {
    padding: 64px; } }

.card__container--left-align {
  @extend .card__container;
  justify-content: flex-start;
  margin: 24px;
  padding: 56px 0;

  @include breakpoint($bp-laptop) {
    margin: 24px 64px; }

  @include breakpoint($bp-laptop-l) {
    margin: 24px 144px; } }

.card__title {
  flex-basis: 100%;
  margin: 16px 0 32px 0; }

.card__cta {
  flex-basis: 100%;
  margin: 32px 0 16px 0;
  text-align: center; }

.card__item--dark {
  @include card-item;
  &:after, &:before { background: $grey-200; } }

.card__item--light {
  @include card-item;
  background: $white;
  &:after, &:before { background: $white-separator; } }

.card__item--left-align {
  box-sizing: border-box;
  display: flex;
  margin: 0 0 24px 0;

  &:before, &:after { display: none; }

  @include breakpoint($bp-laptop) {
    min-width: 50%; }

  @include breakpoint($bp-laptop-xl) {
    min-width: 384px; } }

.card__item--flex {
  display: flex;
  flex-direction: column; }

.card__item-wrap {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 16px; }

.card__item-title {
  margin: 16px 0;
  color: $black;

  font-family: $main-font;
  font-weight: normal;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 2px; }

.card__item-subtitle {
  margin: 24px 0 16px 0;
  color: $black;

  font-family: $main-font;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 1.5px; }

.card__item-inner-wrap {
  text-align: left;
  margin-left: 16px; }

.card__item-inner-title {
  margin: 0 0 8px 0;
  color: $black;

  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px; }

.card__item-inner-text {
  color: $black;

  font-family: $text-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.2px; }

.card__item-text {
  @include inner-link;
  flex-grow: 1;
  color: $black;

  font-family: $text-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.5px; }

.card__item-text--left-align {
  @extend .card__item-text;
  text-align: left;
  margin-left: 16px; }

.card__item-cta {
  margin-top: 40px; }

.card__item-img {
  overflow: hidden;
  position: relative;
  height: 160px; }

.card__price-title {
  display: inline-block;
  width: 144px;
  height: 40px;
  padding: 8px;
  margin-top: 16px;
  border-radius: 28px;

  color: $main;
  background: $main-secondary;

  font-family: $main-font;
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  letter-spacing: 1px;

  &:before, &:after {
    font-size: 12px;}

  &:before {
    content: '$'; }

  &:after {
    content: '/mo'; } }

.card__price-caption {
  height: 24px;
  color: $main;

  font-family: $main-font;
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.5px; }
