<div class="{{#if bg}}section--{{bg}}{{else}}section{{/if}} {{#if hidden}}section--hidden{{/if}}" id="{{id}}">

  {{#items}}
  <div class="full-width-img--block">
    <img src="{{bg-img}}">
  </div>
  {{/items}}

</div>
