/* Breakpoints */
$bp-max:         1440px;
$bp-laptop-xl:   1280px;
$bp-laptop-l:    1024px;
$bp-laptop:      768px;
$bp-tablet:      480px;
$bp-mobile:      320px;

/* Font Family */
$main-font: 'Montserrat', sans-serif;
$text-font: 'Open Sans', sans-serif;
