.app__container {
  position: relative; }

  .app__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    min-height: 744px;
    margin-top: -80px;

    @include breakpoint($bp-laptop-l) {
      position: absolute;
      height: auto;
      margin-top: 0;

      top: 0;
      bottom: 0;
      left: 65%;
      right: 0; }

    @include breakpoint($bp-laptop-xl) {
      left: 50%; } }

    .app__image-device {
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%; }

    .app__image-screen {
      box-sizing: border-box;
      z-index: 2;
      display: none;
      width: 260px;

      & img {
        border: 2px solid $black-disabled;
        border-radius: 8px;
        width: 100%; }

      &.active {
        display: block; } }

  .app__steps {
    transform: translateX(-50%);

    position: absolute;
    z-index: 3;
    left: 50%;
    bottom: 24px; }

  .app__content {
    box-sizing: border-box;
    padding: 80px 40px;

    @include breakpoint($bp-laptop) {
      padding: 80px; }

    @include breakpoint($bp-laptop-l) {
      width: 65%;
      padding: 80px 80px 80px 160px; }

    @include breakpoint($bp-laptop-xl) {
      width: 50%; } }

    .app__text {
      color: $black;
      margin: 56px 0 32px 0;

      font-family: $text-font;
      font-weight: normal;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.5px; }

    .app__cta-button {
      transition: background-color 0.3s ease;

      cursor: pointer;
      display: flex;
      position: relative;
      align-items: center;

      min-height: 48px;
      padding: 8px;
      margin-top: 16px;
      border-radius: 32px;

      &:hover {
        background: $grey-100; }

      &.active {
        background: $grey-50; }

      &.active .app__cta-icon {
        padding: 8px;
        border-radius: 50%;
        border: 0;
        background: $main-secondary; }

      &.active .app__cta-chevron {
        opacity: 1; } }

      .app__cta-icon {
        flex-shrink: 0;
        padding: 6px;
        width: 32px;
        height: 32px;

        text-align: center;
        border-radius: 50%;
        border: 2px solid $main;
        color: $main;

        font-family: $main-font;
        font-weight: bold;
        font-size: 24px;
        line-height: 32px; }

      .app__cta-text {
        @include inner-link;

        flex-grow: 1;
        color: $black;
        margin-left: 16px;

        font-family: $text-font;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px; }

      .app__cta-chevron {
        @include icon-font;

        transition: opacity 0.3s ease;

        cursor: pointer;
        display: none;
        text-align: center;
        opacity: 0;

        margin-left: 16px;
        width: 48px;
        font-size: 32px;
        line-height: 48px;

        color: $black-disabled;

        @include breakpoint($bp-laptop-l) {
          display: inline-block; } }
