.cards {
  width: 100%;
  background: $grey-100; }

  .cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 64px 24px;

    @include breakpoint($bp-laptop) {
      flex-basis: auto;
      padding: 64px; } }

    .cards__title {
      flex-basis: 100%;
      margin: 24px 0 32px 0; }

    .cards__cta {
      flex-basis: 100%;
      text-align: center;
      margin: 32px 0; }

    .cards__item {
      position: relative;
      text-align: center;
      flex-grow: 1;

      margin: 16px;
      padding: 16px;

      &:before, &:after {
        content: '';
        display: inline-block;
        position: absolute;

        top: 16px;
        bottom: 16px;
        width: 2px;
      }

      &:before {
        left: -17px; }

      &:after {
        right: -17px; }

      @include breakpoint($bp-laptop) {
        max-width: 320px;

        &:before, &:after {
          background-color: $grey-200; } } }


      .cards__item-icon {
        @include user-select(none); }

      .cards__item-title {
        margin: 8px 0;
        color: $black;

        font-family: $main-font;
        font-weight: normal;
        font-size: 24px;
        line-height: 48px;
        letter-spacing: 2px; }

      .cards__item-subtitle {
        margin: 24px 0 16px 0;
        color: $black;

        font-family: $main-font;
        font-weight: normal;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 1.5px; }

      .cards__item-text {
        @include inner-link;

        color: $black;

        font-family: $text-font;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px; }

      .cards__item-text--left {
        @extend .cards__item-text;

        text-align: left;
        margin-left: 16px; }

    .cards__item--flex {
      @extend .cards__item;

      display: flex; }
