.concept__container {
  position: relative;
  outline: 1px solid $grey-200; }

  .concept__image {
    display: block;
    position: relative;
    overflow: hidden;

    @include breakpoint($bp-laptop-l) {
      position: absolute;
      height: auto;

      top: 0;
      bottom: 0;
      left: 65%;
      right: 0; }

    @include breakpoint($bp-laptop-xl) {
      left: 50%; } }

  .concept__content {
    box-sizing: border-box;
    padding: 80px 40px;

    @include breakpoint($bp-laptop) {
      padding: 80px; }

    @include breakpoint($bp-laptop-l) {
      width: 65%;
      padding: 80px 80px 80px 160px; }

    @include breakpoint($bp-laptop-xl) {
      width: 50%; } }

    .concept__text {
      color: $black;
      margin: 56px 0;

      font-family: $text-font;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.5px; }
