.download__container {
  position: relative;
  min-height: 744px; }

  .download__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;

    min-height: 744px;
    margin-top: -80px;

    @include breakpoint($bp-laptop-l) {
      position: absolute;
      height: auto;
      margin-top: 0;

      top: 0;
      bottom: 0;
      left: 65%;
      right: 0; }

    @include breakpoint($bp-laptop-xl) {
      left: 50%; } }

    .download__image-device {
      transform: translate(-50%, -50%);
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%; }

    .download__image-screen {
      box-sizing: border-box;
      z-index: 2;
      transform: scale(0.5);

      & img {
        border: 2px solid $black-disabled;
        border-radius: 8px; } }

  .download__content {
    box-sizing: border-box;
    padding: 80px 40px;

    @include breakpoint($bp-laptop) {
      padding: 80px; }

    @include breakpoint($bp-laptop-l) {
      width: 65%;
      padding: 80px 80px 80px 160px; }

    @include breakpoint($bp-laptop-xl) {
      width: 50%; } }

    .download__text {
      @include inner-link;

      color: $black;
      margin: 56px 0;

      font-family: $text-font;
      font-weight: normal;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: 0.5px; }

    .download__cta-button {
      transition: background-color 0.3s ease;

      cursor: pointer;
      display: flex;
      position: relative;
      align-items: center;

      min-height: 48px;
      padding: 8px;
      margin-top: 16px;
      border-radius: 32px;

      background: $grey-50;

      &:hover {
        background: $grey-100; } }

    .download__cta-button--disabled {
      background: $white;

      &:hover {
        background: $white; } }

      .download__cta-icon {
        padding: 8px;
        border-radius: 50%;
        background: $main-secondary; }

      .download__cta-text {
        @include inner-link;

        flex-grow: 1;
        color: $black;
        margin-left: 16px;

        font-family: $text-font;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px; }

      .download__cta-chevron {
        @include icon-font;

        transition: opacity 0.3s ease;
        cursor: pointer;
        display: none;
        text-align: center;

        margin-left: 16px;
        width: 48px;
        font-size: 32px;
        line-height: 48px;

        color: $black-disabled;

        @include breakpoint($bp-laptop) {
          display: inline-block; } }
