.download-switch__container {
  font-size: 0; }

  .download-switch__section {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;

    @include breakpoint($bp-laptop-l) {
      margin: 10% 0 15% 0;
      width: 50%; } }

    .download-switch__wrap {
      position: relative;
      text-align: center;
      padding: 64px 40px 80px 40px;

      @include breakpoint($bp-laptop) {
        padding: 64px 80px 80px 80px; }

      @include breakpoint($bp-laptop-xl) {
        padding: 64px 120px 80px 120px; } }

    .download-switch__wrap--separator {

      &:before, &:after {
        content: '';
        display: none;
        position: absolute;
        background: $grey-300; }

      &:before {
        top: 80px;
        bottom: 80px;
        right: -2px;
        width: 4px; }

      &:after {
        transform: rotate(45deg);

        width: 16px;
        height: 16px;

        bottom: 50%;
        right: -8px;
        margin-bottom: -8px; }

      @include breakpoint($bp-laptop-l) {
        &:before, &:after {
          display: block; } } }

      .download-switch__cta {
        margin-top: 32px; }
