.features__title {
  margin: 80px 40px 0 40px;

  @include breakpoint($bp-laptop) {
    margin: 80px 80px 0 80px; }

  @include breakpoint($bp-laptop-l) {
    margin: 80px 160px 0 160px; } }

.features__container {
  padding: 0; }

.features__footer {
  margin: 0 40px 40px 40px;

  @include breakpoint($bp-laptop) {
    margin: 0 80px 80px 80px; }

  @include breakpoint($bp-laptop-l) {
    margin: 0 160px 80px 160px; } }

  .features__separator {
    content: '';
    display: block;
    height: 2px;
    margin-bottom: 40px;
    background: $black-separator; }
