.footer__container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;

  @include breakpoint($bp-laptop-l) {
    flex-wrap: nowrap;
    padding: 40px 80px; } }

  .footer__logo {
    @include user-select(none);

    flex-grow: 1; }

  .footer__group {
    flex-basis: 100%;
    margin-top: 40px;

    @include breakpoint($bp-laptop) {
      flex-basis: auto;
      margin-left: 40px;
      margin-top: 0; }

    @include breakpoint($bp-laptop-l) {
      flex-basis: 200px;
      margin-left: 0; } }

    .footer__group-title {
      color: $black;

      font-family: $main-font;
      font-weight: bold;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 3px;
      text-transform: uppercase; }

    .footer__group-link {
      @include unstyled-link;

      display: block;
      cursor: pointer;
      color: $black-secondary;

      font-family: $main-font;
      font-weight: normal;;
      font-size: 14px;
      line-height: 40px;
      letter-spacing: 1px;

      &:hover, &:focus {
        color: $main-accent;
        text-decoration: underline; } }

.copyright {
  padding: 24px 40px;
  text-align: center;

  font-family: $main-font;
  font-weight: normal;
  font-size: 14px;
  line-height: 32px;
  letter-spacing: 1px;

  color: $black-disabled;
  background-color: $grey-200; }
