.hero__container {
  padding: 80px 40px;

  @include breakpoint($bp-tablet) {
    margin-right: 80px; }

  @include breakpoint($bp-laptop) {
    padding: 120px 80px;
    margin-right: 15%; }

  @include breakpoint($bp-laptop-l) {
    margin-right: 25%;
    padding: 120px 160px; }

  @include breakpoint($bp-laptop-xl) {
    margin-right: 40%; } }

  .hero__subtitle {
    color: $white-secondary;

    font-family: $main-font;
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 1px;
    text-transform: uppercase; }

  .hero__title {
    color: $white;

    font-family: $main-font;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    letter-spacing: 3px; }

  .hero__text {
    color: $white;
    margin-top: 40px;

    font-family: $text-font;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.5px;

    @include breakpoint($bp-laptop-l) {
      margin-right: 30%; } }

  .hero__cta {
    margin-top: 40px; }
