.switch__bg {
  visibility: hidden;

  @include breakpoint($bp-laptop-l) {
    visibility: visible; } }

.switch__container {
  font-size: 0;
  box-sizing: border-box;

  @include breakpoint($bp-laptop-l) {
    display: flex;
    align-items: center;

    height: 100vh;
    margin-bottom: -144px;
    padding-bottom: 144px; } }

  .switch__section {
    flex-basis: 100%;

    @include breakpoint($bp-laptop-l) {
      flex-basis: 50%; } }

    .switch__wrap {
      position: relative;
      text-align: center;
      padding: 40px 15% 80px 15%; }

    .switch__wrap--separator {

      &:before, &:after {
        content: '';
        display: none;
        position: absolute;
        background: $grey-300; }

      &:before {
        top: 80px;
        bottom: 80px;
        right: -2px;
        width: 4px; }

      &:after {
        transform: rotate(45deg);

        width: 16px;
        height: 16px;

        bottom: 50%;
        right: -8px;
        margin-bottom: -8px; }

      @include breakpoint($bp-laptop-l) {
        &:before, &:after {
          display: block; } } }

      .switch__cta {
        margin-top: 32px; }
